/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* mix */
body{
  font-family: 'Montserrat', sans-serif;
  color: #32495B;
}
.container{
  width: 80%;
  margin: auto;

}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.btn{
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 8px;
  color: #FE775A;
}
ul li i{
  color: #FE775A;
}
/* /mix */
/* header */
header{
  background-color: #F4F9FD;
}
/* header-top */
.language{
  width: 40%;
  font-size: 17px;
  margin: 20px 0;
  float: left;
}
.borded{
  padding: 5px;
  border-right: 1px solid grey;
}

.contact{
  margin-left: 20px;
  text-decoration: none;
  color: #32495B;
}

.login{
  width: 60%;
  float: left;
  margin: 20px 0;
  font-size: 17px;
  text-align: right;
}

.login ul{
  list-style: none;
  margin-left: 50%;
}

.login ul li{
  display: inline-block;
}
.search{
  text-decoration: none;
  margin-right: 15px;
}
.search a{
  color: #1E90FF;
}
.login ul li a{
  text-decoration: none;
  margin-right: 15px;
}
.colored{
  border: none;
  background-color: #FE775A;
  color: white;
}
hr{
  border: 1px solid #536878;
}
/* /header-top */

/* header-bottom */
.header-bottom{
  height: 60px;
  line-height: 60px;
}

.logo{
  width: 10%;
  float: left;
}

.logo img{
  vertical-align: middle;
}

nav{
  float: left;
  width: 90%;
}

.main-nav{
  font-size: 16px;
  text-align: right;

}
.main-nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.main-nav ul li a{
  text-decoration: none;
  color: #536878;
}

.main-nav ul li i{
  color: #536878;
}

.hero{
  height: 700px;
  background-color: rgba(255, 99, 71, 0.3);
  background-image: url('../img/jumbotron.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.description{
  width: 40%;
  padding: 25px;
}

.description h1{
  font-size: 40px;
  color: #33475B;
}
.description p{
  font-size: 16px;
  line-height: 30px;
  margin: 10% 0;
}
.des-btn{
  text-decoration: none;
  margin-top: 20px;
  padding: 20px;
  font-weight: 500;
}

.bottom-hero{
  width: 100%;
  height: 100px;
  background-color: #b3fffa;
  border-top: 4px solid #536878;
  border-bottom: 4px solid #536878;
  position: absolute;
  bottom: 0;
}
/* /header-bottom */
/* /header */

/* main */
.powerful{
  width: 65%;
  margin: 5% auto;
  text-align: center;
}
.powerful img{
  height: 150px;
}
.powerful h2{
  font-size: 30px;
  margin-bottom: 2%;
  color: #33475B;
}
.free-crm{
  width: 100%;
  margin-top: 10%;
}
.col{
  float: left;
}
.left{
  width: 45%;
  text-align: center;
}
.left img{
  height: 120px;
  margin-bottom: 30px;
}
.left a{
  text-decoration: none;
  padding: 20px;
}
.right{
  margin-left: 20px;
  width: calc(55% - 20px);
}
.right h3{
  font-size: 22px;
  margin-top: 25px;
}
.right p{
  margin-top: 40px;
  line-height: 25px;
}
.right h4{
  text-transform: uppercase;
  margin-top: 25px;
  display: inline-block;
  margin-right: 40px;
}
.right hr{
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  border: 1px solid #536878;
}

.right ul{
  list-style: none;
  margin-top: 25px;
}

.right ul li{
  display: inline-block;
  font-weight: 500;
}
.right ul li i{
  margin-right: 15px;
  /* color: #FE775A; */

}
.right ul li:not(:first-child){
  margin-left: 25px;
}

.hub-section{
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
}

.hub-left,
.hub-mid,
.hub-right{
  width: calc((100% / 3) - 40px);
  text-align: center;
  display: inline-block;
  margin-right: 40px;
}

.hub-left img,
.hub-mid img,
.hub-right img{
  height: 150px;
}

.hub-left h2,
.hub-mid h2,
.hub-right h2{
  margin: 25px 0;
}

.hub-left p,
.hub-mid p,
.hub-right p{
  margin-bottom: 80px;
}

.hub-left hr,
.hub-mid hr,
.hub-right hr{
  margin: auto;
  border: 1px solid grey;
}

.hub-left h3,
.hub-mid h3,
.hub-right h3{
  margin-top: 35px;
  text-transform: uppercase;
}

.hub-left ul,
.hub-mid ul,
.hub-right ul{
  list-style: none;
  margin: 40px 0;
}

.hub-left ul li,
.hub-mid ul li,
.hub-right ul li{
  text-align: left;
}

.hub-left ul li i,
.hub-mid ul li i,
.hub-right ul li i{
  margin-right: 15px;
}
.hub-left a,
.hub-mid a,
.hub-right a{
  text-decoration: none;
  margin-top: 40px;
  padding: 20px;
}


/* /main */
